<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="d-flex w-100 justify-content-center align-items-center position-relative">
      <form class="d-flex w-50" role="search" (ngSubmit)="onSubmit($event)">
        <input #searchInput class="form-control me-2 flex-grow-1" type="search" placeholder="Introduce una receta o ingrediente" aria-label="search">
        <button class="btn btn-outline-success btn-light" type="submit" (click)="search(searchInput.value)">Buscar</button>
      </form>
      <i class="bi bi-person-circle ms-2 position-absolute end-0" id="profileIcon" (click)="goToProfile()" ></i>
    </div>
  </div>
</nav>