<button class="back-button" (click)="menuPrincipal()">Volver al menú principal</button>
<h2>Resultados de búsqueda</h2>
<div *ngIf="recipeDetails.length > 0" class="recipe-grid">
  <div *ngFor="let recipe of recipeDetails">
    <a (click)="goToRecipe(recipe.idMeal)">
      <img [src]="recipe.strMealThumb" [alt]="recipe.strMeal">
      <p>{{ recipe.strMeal }}</p>
    </a>
  </div>
</div>
<div *ngIf="recipeDetails.length === 0" class="no-recipes">
  <p>No hay recetas disponibles con la búsqueda realizada.</p>
</div>
