<div class="foto-container">
    <a class="pointer" class="pointer" (click)="search('British')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/gb.png">
    </a>

    <a class="pointer" (click)="search('American')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/us.png">
    </a>

    <a class="pointer" (click)="search('French')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/fr.png">
    </a>

    <a class="pointer" (click)="search('Canadian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/ca.png">
    </a>

    <a class="pointer" (click)="search('Jamaican')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/jm.png">
    </a>

    <a class="pointer" (click)="search('Chinese')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/cn.png">
    </a>

    <a class="pointer" (click)="search('Dutch')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/nl.png">
    </a>

    <a class="pointer" (click)="search('Egyptian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/eg.png">
    </a>

    <a class="pointer" (click)="search('Greek')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/gr.png">
    </a>

    <a class="pointer" (click)="search('Indian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/in.png">
    </a>

    <a class="pointer" (click)="search('Irish')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/ie.png">
    </a>

    <a class="pointer" (click)="search('Italian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/it.png">
    </a>

    <a class="pointer" (click)="search('Japanese')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/jp.png">
    </a>

    <a class="pointer" (click)="search('Kenyan')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/kn.png">
    </a>

    <a class="pointer" (click)="search('Malaysian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/my.png">
    </a>

    <a class="pointer" (click)="search('Mexican')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/mx.png">
    </a>

    <a class="pointer" (click)="search('Moroccan')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/ma.png">
    </a>

    <a class="pointer" (click)="search('Croatian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/hr.png">
    </a>

    <a class="pointer" (click)="search('Norwegian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/no.png">
    </a>

    <a class="pointer" (click)="search('Portuguese')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/pt.png">
    </a>

    <a class="pointer" (click)="search('Russian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/ru.png">
    </a>

    <a class="pointer" (click)="search('Argentinian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/ar.png">
    </a>

    <a class="pointer" (click)="search('Spanish')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/es.png">
    </a>

    <a class="pointer" (click)="search('Slovak')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/sk.png">
    </a>

    <a class="pointer" (click)="search('Thai')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/th.png">
    </a>

    <a class="pointer" (click)="search('Saudi Arabian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/sa.png">
    </a>

    <a class="pointer" (click)="search('Vietnamese')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/vn.png">
    </a>

    <a class="pointer" (click)="search('Turkish')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/tr.png">
    </a>

    <a class="pointer" (click)="search('Syrian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/sy.png">
    </a>

    <a class="pointer" (click)="search('Algerian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/dz.png">
    </a>

    <a class="pointer" (click)="search('Tunisian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/tn.png">
    </a>

    <a class="pointer" (click)="search('Polish')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/pl.png">
    </a>

    <a class="pointer" (click)="search('Philippine')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/ph.png">
    </a>

    <a class="pointer" (click)="search('Ukrainian')">
        <img src="https://www.themealdb.com/images/icons/flags/big/64/UA.png">
    </a>
</div>
