<div class="foto-container">
    <a href="https://www.themealdb.com/browse/area/gb">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/gb.png"></a>

    <a href="https://www.themealdb.com/browse/area/us">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/us.png"></a>

    <a href="https://www.themealdb.com/browse/area/fr">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/fr.png"></a>

    <a href="https://www.themealdb.com/browse/area/ca">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/ca.png"></a>

    <a href="https://www.themealdb.com/browse/area/jm">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/jm.png"></a>

    <a href="https://www.themealdb.com/browse/area/cn">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/cn.png"></a>

    <a href="https://www.themealdb.com/browse/area/nl">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/nl.png"></a>

    <a href="https://www.themealdb.com/browse/area/eg">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/eg.png"></a>

    <a href="https://www.themealdb.com/browse/area/gr">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/gr.png"></a>

    <a href="https://www.themealdb.com/browse/area/in">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/in.png"></a>

    <a href="https://www.themealdb.com/browse/area/ie">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/ie.png"></a>

    <a href="https://www.themealdb.com/browse/area/it">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/it.png"></a>

    <a href="https://www.themealdb.com/browse/area/jp">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/jp.png"></a>

    <a href="https://www.themealdb.com/browse/area/kn">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/kn.png"></a>

    <a href="https://www.themealdb.com/browse/area/my">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/my.png"></a>

    <a href="https://www.themealdb.com/browse/area/mx">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/mx.png"></a>

    <a href="https://www.themealdb.com/browse/area/ma">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/ma.png"></a>

    <a href="https://www.themealdb.com/browse/area/hr">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/hr.png"></a>

    <a href="https://www.themealdb.com/browse/area/no">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/no.png"></a>

    <a href="https://www.themealdb.com/browse/area/pt">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/pt.png"></a>

    <a href="https://www.themealdb.com/browse/area/ru">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/ru.png"></a>

    <a href="https://www.themealdb.com/browse/area/ar">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/ar.png"></a>

    <a href="https://www.themealdb.com/browse/area/es">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/es.png"></a>

    <a href="https://www.themealdb.com/browse/area/sk">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/sk.png"></a>

    <a href="https://www.themealdb.com/browse/area/th">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/th.png"></a>

    <a href="https://www.themealdb.com/browse/area/sa">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/sa.png"></a>

    <a href="https://www.themealdb.com/browse/area/vn">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/vn.png"></a>

    <a href="https://www.themealdb.com/browse/area/tr">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/tr.png"></a>

    <a href="https://www.themealdb.com/browse/area/sy">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/sy.png"></a>

    <a href="https://www.themealdb.com/browse/area/dz">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/dz.png"></a>

    <a href="https://www.themealdb.com/browse/area/tn">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/tn.png"></a>

    <a href="https://www.themealdb.com/browse/area/pl">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/pl.png"></a>

    <a href="https://www.themealdb.com/browse/area/ph">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/ph.png"></a>

    <a href="https://www.themealdb.com/browse/area/UA">
    <img src="https://www.themealdb.com/images/icons/flags/big/64/UA.png"></a>
</div>